<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <i class="icon-user"></i>
            <a href="#/users">Users</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <i class="icon-user-follow"></i>
            {{user.username}}
        </li>
    </ul>
</div>
<h3 class="page-title">
    User Profile
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<link href="assets/admin/pages/css/profile.css" rel="stylesheet" type="text/css"/>
<div >

            <center>
                <div class="portlet light profile-sidebar-portlet"  style="width:40%">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        <img src="assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            {{user.firstname + ' ' + user.lastname}}
                        </div>
                        <div class="profile-usertitle-job">
                            {{user.position}}
                        </div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR BUTTONS -->
                    <div class="profile-userbuttons">
                        <button type="button" class="btn btn-circle green-haze btn-sm">Follow</button>
                        <button type="button" class="btn btn-circle btn-danger btn-sm">Message</button>
                    </div>
                    <!-- END SIDEBAR BUTTONS -->

                </div>
                <!-- END PORTLET MAIN -->
            </center>
    </div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->

<!-- BEGIN CORE ANGULARJS PLUGINS -->
<script>
    //Index.init();
    //Tasks.initDashboardWidget();
</script>
<!-- BEGIN MAIN JS & CSS -->